@import 'rem';
@import 'layout';

.header-block {
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  align-items: center;
  padding: 0 16px;

  .sidenav-button {
    width: 48px;
    height: 48px;
    margin-right: 8px;
    color: white;
  }

  .logo-block {
    display: flex;
    width: $side-menu-width + $main-content-side-margin;
    max-height: 100%;
    box-sizing: border-box;
    padding: 8px;

    @media (max-width: 767px) {
      display: none;
    }
  }

  .logo-image {
    object-fit: contain;
  }

  .title-label {
    margin-right: auto;
    margin-bottom: 0;
    color: white;
  }

  .moon-icon {
    transform: rotateZ(30deg);
  }

  .logout-button {
    color: white;
  }
}
