.layout-body {
  display: flex;
  height: 100%;
  flex-direction: column;

  .sidenav-block {
    height: 100%;
    flex: 1;
    background-color: transparent;
  }

  .toolbar-block {
    display: flex;
    height: 60px;
    padding: 0;

    & > * {
      width: 100%;
      height: 100%;
    }
  }

  // Block purely for setting background app. We could not set it
  // on child (because of its margins) or parent (because those are
  // material components, which styles should not be overlapped)
  .background-wrapper {
    display: flex;
    width: 100%;
    min-height: 100%;
    transition: background-color 120ms ease;
  }

  .main-content-block {
    width: 100%;
    overflow-x: hidden;
    transition: margin 120ms ease;
  }
}
