@import '~@angular/material/theming';

@mixin admin-tree-theme($theme) {
    $primary: map-get($theme, primary);
    $background: map-get($theme, background);
    $card-background: mat-color($background, card);
    $is-dark: map-get($theme, is-dark);

    .menu-editor-tree {
        @include mat-elevation(2);

        background: $card-background;

        .list-button {
            $hue: if($is-dark, 600, 50);

            background: mat-color($primary, $hue);
            outline: none;

            &:hover,
            &:focus {
                $hue: if($is-dark, 700, 100);
                background: mat-color($primary, $hue);
            }
        }
    }
}