@import '~@angular/material/theming';

@mixin admin-tree-theme($theme) {
  .menu-editor-tree {
    background: $card-background;
    @include mat-elevation(2);

    .list-button {
      background: mat-color($primary, $hue);
      outline: none;

      &:hover,
      &:focus {
        background: mat-color($primary, $hue);
        $hue: if($is-dark, 700, 100);
      }
      $hue: if($is-dark, 600, 50);
    }
  }
  $primary: map-get($theme, primary);
  $background: map-get($theme, background);
  $card-background: mat-color($background, card);
  $is-dark: map-get($theme, is-dark);
}
