.side-menu-link {
  background-color: transparent;
  transition-duration: 250ms;
  transition-property: background-color, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .link-content {
    display: flex;
    align-items: center;
    margin: 0;

    & > :not(:last-child) {
      margin-right: 16px;
    }
  }
}
