<form [formGroup]="form" class="form-container">
    <div class="control">
        <mat-form-field appearance="standard">
            <mat-label>{{ 'menu-editor.node-fields.NAME' | translate }}</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
    </div>

    <div class="control">
        <mat-form-field appearance="standard">
            <mat-label>{{ 'menu-editor.node-fields.URL' | translate }}</mat-label>
            <input matInput formControlName="url">
        </mat-form-field>
    </div>

    <div class="control">
        <mat-form-field appearance="standard">
            <mat-label>{{ 'menu-editor.node-fields.IMAGE_URL' | translate }}</mat-label>
            <input matInput formControlName="imageUrl">
        </mat-form-field>
    </div>
</form>