html,
body {
    height: 100%;
}

body {
    height: 100%;
    font-family: Roboto, sans-serif;
	color: rgba(0, 0, 0, 0.87);
    margin: 0;
    line-height: 16px;
    font-size: 16px;
}

.mat-raised-button mat-icon:first-child,
.mat-button mat-icon:first-child {
    margin-right: 4px;
    margin-top: -3px;
}