@import 'rem';
@import 'delinkify';
@import 'layout';

.side-menu-body {
  display: flex;
  height: 100%;
  flex-direction: column;

  .side-menu-nav-block {
    display: flex;
    width: $side-menu-width;
    height: 100%;
    flex-direction: column;
    padding: 0;
  }

  .side-menu-logo {
    font-size: rem(34);
    @include delinkify();
  }

  .top-categories {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    margin-bottom: auto;

    & > :not(:last-child) {
      margin-bottom: 24px;
    }
  }
}
